@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font-navegação: 'Inter', sans-serif;
    --font-texto: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px 90px;
}

header h1{
    font: 400 1.5em var(--font-navegação);
    color: #ff7b00;
    letter-spacing: 0.05em;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
}

nav a{
    font: 400 1em var(--font-navegação);
    color: black;
    letter-spacing: 0.05em;
}

#cont{
    border: 3px solid #FFE600;
    padding: 10px;
}

nav a:hover{
    color: #ff7b00;
    transition: 0.3s all;
}

#cont:hover{
    border: 3px solid transparent;
    transition: 0.5s all;
    color: black;
    background-color: #FFE600;
}

main{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
}

#trabalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    gap: 80px;
}

#trabalho > img{
    width: 40%;
}

#texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 33%;
}

#texto h2{
    font: 500 2em var(--font-texto);
    letter-spacing: 0.2em;
    text-align: center;
}

#texto p{
    font: 400 1em var(--font-texto);
    text-align: justify;
    letter-spacing: 0.1em;
}

#texto button{
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border-radius: 10px;
    background-color: #ad00ffd9;
    color: white;
    width: 225px;
    height: 38px;
    text-align: center;
    font: 600 0.9em var(--font-texto);
    border: none;
}

#texto button:hover{
    background-color: #ae00ff;
    cursor: pointer;
    transition: 0.5s;
}

#promocional{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 67px;
    padding-bottom: 20px;
    gap: 49px;
}

#promocional div{
    width: 256px;
    height: 256px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
}

#promocional div:hover{
    cursor: pointer;
    background-color: #ae7bff;
    transition: 0.5s all;
}

#promocional h3{
    font: 600 1.2em var(--font-texto);
    color: black;
    text-align: center;
    letter-spacing: 0.2em;
}

#promocional div:hover > h3{
    color: white;
    transition: 0.5s;
}